body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

body > * {
    padding-left: 200px;
    padding-right: 200px;
}

.altPadding {
    padding-left: 300px;
    padding-right: 300px;
}

.header, .hero, footer {
    background-color: #1F2937;
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.hero, .nav-links, footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.secondary-text {
    margin-bottom: 8px;
}

.hero-img {
    background-color: gray;
    width: 100%;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.hero button {
    border-style: none;
}

h2 {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
}

.side-by-side-img {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.img-and-subtext {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
}

.img {
    border: 4px solid #3882F6;
    height: 121px;
    width: 121px;
    border-radius: 12px;
}

.quote {
    background-color: #E5E7EB;
    padding-top: 96px;
    padding-bottom: 96px;
}

.quote-phrase {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-size: 18px;
    text-align: right;
    padding-right: 48px;
}

.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 100px 200px;
    padding: 50px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action > button {
    border-color: #F9FAF8;
}

footer {
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text > * {
    margin: 0;
}

.text > p {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 8px 24px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
