body {
    font-family: "Roboto", sans-serif;
}

.header {
    font-weight: bold;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}